:root {
  --main-color: #37517e;
  --blue: #37517e;
}
.hero-section {
  background-color: var(--main-color);
}
.hero-section a {
  color: white !important;
}
.hero-section a:hover {
  color: #47acdc !important;
}
.btn-1:hover {
  color: #47acdc !important;
}

.dropdown-menu a {
  color: black !important;
}
.animation-img {
  animation: move 1s linear alternate infinite;
}
.text-blue {
  color: var(--blue) !important ;
}
.gray {
  width: 13%;
  height: 1px;
  background-color: rgb(165, 164, 164);
  margin: auto;
  position: relative;
}
.blue {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 2px;
  background-color: var(--bs-info);
  margin: auto;
}
.navbar {
  position: fixed !important;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3333 !important;
  top: 0 !important;
  background-color: #3d4d6a;
}
@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
.brand-images img {
  filter: grayscale(100%);
  transition: all0.2s;
}
.brand-images img:hover {
  filter: grayscale(0);
  scale: 1.05;
}
